.qr-wrap{
  height: 100%;
  width: 100%;
}
.qr-wrap .qr-mask{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: #ccc;
  opacity: .3;
}
.qr-wrap .qr-mask .qr {
  height: 100px;
  width: 100px;
  background: blue;
}